body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #fffbed;
}

#container {
    width: 80%;
}

header {
    background-color: #ffeb99;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
