/* Importarci칩n de fuentes desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body { /* Estilos generales del cuerpo de la p치gina */
    font-family: "Monserrat", sans-serif;
    margin: 10px;
    padding: 10px;
    background-color: #fffbed;
}

#container { /* Contenedor principal */
    margin: 0 auto;
    width: 100%;
}

header { /* Estilos del encabezado */
    background-color: #ffeb99;
    padding: 5px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Poller One", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul li { /* Estilos de los elementos de la lista de navegaci칩n */
    float: left;
    list-style: none;
    font-family: "Rowdies", cursive;
    text-align: center;
    margin-right: 20px;
}

.clearfix {
    clear: both;
}

footer { /* Estilos del pie de p치gina */
    text-align: center;
    margin-top: 20px; 
    padding: 4px;
    background-color: #ffeb99;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: "Rowdies", cursive;
    font-size: smaller;
}